*{
    font-size: 12px;
    box-sizing: border-box;
    text-decoration: none;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #08050b;
    color: #fff;
    align-items: center;
}

.menu{
    display: flex;
    column-gap: normal;
    gap: 1rem;
}

.menu > a{
    color: #fff;
    padding: 3.08rem 0;
}

.menu > a:hover{
    background-color: brown;
}

.active{
    background-color: #0000ff;
}

.cadastro fieldset{
    display: flex;
    flex-direction: column;
    row-gap: 0.03rem;
    border: none;
}

.cadastro fieldset legend{
    text-align: center;
}